<header class="bw-web-topnav" data-bw-component="header">
  <div class="bw-web-topnav__inner">
    <a class="bw-web-brand" href="{{root}}home-hi.html">
      <img src="{{root}}Logo.png" alt="BarakaWay">
      <span>BarakaWay</span>
    </a>
    <nav class="bw-web-links" aria-label="साइट नेविगेशन">
      <a href="{{root}}home-hi.html">मुख्य</a><a href="{{root}}quran-hi.html">कुरआन</a><a href="{{root}}adhkar-hi.html">अज़कार</a><a href="{{root}}names-hi.html">99 नाम</a><a href="{{root}}articles-hi.html">लेख</a><a href="{{root}}life-situations-hi.html">जीवन</a><a href="{{root}}prophets-duas-hi.html">क़िला</a><a href="{{root}}pro-hi.html">Pro</a>
    </nav>
  </div>
</header>
