<header class="bw-web-topnav" data-bw-component="header">
  <div class="bw-web-topnav__inner">
    <a class="bw-web-brand" href="{{root}}home-ru.html">
      <img src="{{root}}Logo.png" alt="BarakaWay">
      <span>BarakaWay</span>
    </a>
    <nav class="bw-web-links" aria-label="Навигация сайта">
      <a href="{{root}}home-ru.html">Главная</a><a href="{{root}}quran-ru.html">Коран</a><a href="{{root}}adhkar-ru.html">Азкары</a><a href="{{root}}names-ru.html">99 имён</a><a href="{{root}}articles-ru.html">Статьи</a><a href="{{root}}life-situations-ru.html">Жизнь</a><a href="{{root}}prophets-duas-ru.html">Крепость</a><a href="{{root}}pro-ru.html">Pro</a>
    </nav>
  </div>
</header>
