<header class="bw-web-topnav" data-bw-component="header">
  <div class="bw-web-topnav__inner">
    <a class="bw-web-brand" href="{{root}}home-id.html">
      <img src="{{root}}Logo.png" alt="BarakaWay">
      <span>BarakaWay</span>
    </a>
    <nav class="bw-web-links" aria-label="Navigasi situs">
      <a href="{{root}}home-id.html">Beranda</a><a href="{{root}}quran-id.html">Quran</a><a href="{{root}}adhkar-id.html">Dzikir</a><a href="{{root}}names-id.html">99 Nama</a><a href="{{root}}articles-id.html">Artikel</a><a href="{{root}}life-situations-id.html">Hidup</a><a href="{{root}}prophets-duas-id.html">Benteng</a><a href="{{root}}pro-id.html">Pro</a>
    </nav>
  </div>
</header>
