<header class="bw-web-topnav" data-bw-component="header">
  <div class="bw-web-topnav__inner">
    <a class="bw-web-brand" href="{{root}}home-kz.html">
      <img src="{{root}}Logo.png" alt="BarakaWay">
      <span>BarakaWay</span>
    </a>
    <nav class="bw-web-links" aria-label="Сайт навигациясы">
      <a href="{{root}}home-kz.html">Басты бет</a><a href="{{root}}quran-kz.html">Құран</a><a href="{{root}}adhkar-kz.html">Зікірлер</a><a href="{{root}}names-kz.html">99 есім</a><a href="{{root}}articles-kz.html">Мақалалар</a><a href="{{root}}life-situations-kz.html">Өмір</a><a href="{{root}}prophets-duas-kz.html">Қорған</a><a href="{{root}}pro-kz.html">Pro</a>
    </nav>
  </div>
</header>
