<header class="bw-web-topnav" data-bw-component="header">
  <div class="bw-web-topnav__inner">
    <a class="bw-web-brand" href="{{root}}home-ar.html">
      <img src="{{root}}Logo.png" alt="BarakaWay">
      <span>BarakaWay</span>
    </a>
    <nav class="bw-web-links" aria-label="تنقل الموقع">
      <a href="{{root}}home-ar.html">الرئيسية</a><a href="{{root}}quran-ar.html">القرآن</a><a href="{{root}}adhkar-ar.html">الأذكار</a><a href="{{root}}names-ar.html">99 اسماً</a><a href="{{root}}articles-ar.html">المقالات</a><a href="{{root}}life-situations-ar.html">الحياة</a><a href="{{root}}prophets-duas-ar.html">الحصن</a><a href="{{root}}pro-ar.html">Pro</a>
    </nav>
  </div>
</header>
