<header class="bw-web-topnav" data-bw-component="header">
  <div class="bw-web-topnav__inner">
    <a class="bw-web-brand" href="{{root}}home-en.html">
      <img src="{{root}}Logo.png" alt="BarakaWay">
      <span>BarakaWay</span>
    </a>
    <nav class="bw-web-links" aria-label="Site navigation">
      <a href="{{root}}home-en.html">Home</a><a href="{{root}}quran-en.html">Quran</a><a href="{{root}}adhkar-en.html">Adhkar</a><a href="{{root}}names-en.html">99 Names</a><a href="{{root}}articles-en.html">Articles</a><a href="{{root}}life-situations-en.html">Life</a><a href="{{root}}prophets-duas-en.html">Fortress</a><a href="{{root}}pro-en.html">Pro</a>
    </nav>
  </div>
</header>
