<header class="bw-web-topnav" data-bw-component="header">
  <div class="bw-web-topnav__inner">
    <a class="bw-web-brand" href="{{root}}home-uz.html">
      <img src="{{root}}Logo.png" alt="BarakaWay">
      <span>BarakaWay</span>
    </a>
    <nav class="bw-web-links" aria-label="Sayt navigatsiyasi">
      <a href="{{root}}home-uz.html">Bosh sahifa</a><a href="{{root}}quran-uz.html">Qurʼon</a><a href="{{root}}adhkar-uz.html">Zikrlar</a><a href="{{root}}names-uz.html">99 ism</a><a href="{{root}}articles-uz.html">Maqolalar</a><a href="{{root}}life-situations-uz.html">Hayot</a><a href="{{root}}prophets-duas-uz.html">Qal’a</a><a href="{{root}}pro-uz.html">Pro</a>
    </nav>
  </div>
</header>
